---
/*
 * website - my friggin website, man
 * Copyright (C) 2022 Brian Reece

 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
import OGMeta from './meta/OGMeta.astro';
import TwitterMeta from './meta/TwitterMeta.astro';
import '../../styles/index.scss';

export type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
const pageTitle = title ? `bdreece.dev - ${title}` : 'bdreece.dev';
const { pathname } = Astro.url;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <OGMeta
      title={pageTitle}
      path={pathname}
      description={description}
    />
    <TwitterMeta
      title={pageTitle}
      path={pathname}
      description={description}
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Space+Grotesk:wght@700&display=swap'
      rel='stylesheet'
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
