---
import OGMeta from './meta/OGMeta.astro';
import TwitterMeta from './meta/TwitterMeta.astro';
import '../../styles/index.scss';

export type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
let pageTitle = title ? `bdreece.dev - ${title}` : 'bdreece.dev';

const { url } = Astro;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <OGMeta
      title={pageTitle}
      url={url}
      description={description}
    />
    <TwitterMeta
      title={pageTitle}
      url={url}
      description={description}
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Space+Grotesk:wght@700&display=swap'
      rel='stylesheet'
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
